{% extends "layout.html" %}

{% block content %}
<form class="form-inline pb-4" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="container form-group">
    <div class="row g-3">
      <div class="col-sm-7">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">URL</span>
          </div>
          {{ form.url_field(class_='form-control', placeholder_="https://github.com/BX326/url2ref") }}
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">SRC</span>
          </div>
          {{ form.src_lang_field(class_='form-control',
                            placeholder_='ISO 639-1 code') }}
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">TARG</span>
          </div>
          {{ form.targ_lang_field(class_='form-control',
                            placeholder_='ISO 639-1 code') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        {{ form.submit(class_="btn btn-outline-secondary") }}
      </div>
    </div>
  </div>
</form>
<div class="pb-4">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="raw-tab" data-bs-toggle="tab" data-bs-target="#raw" type="button" role="tab" aria-controls="raw" aria-selected="true">Raw</button>
            </li>
          </ul>
        </div>
        <div class="tab-content card-body" id="myTabContent">
          <div class="tab-pane fade show active" id="raw" role="tabpanel" aria-labelledby="raw-tab">
            <div contenteditable="true" class="raw-text-box" aria-role="textbox" id="rawTextBox">{{message}}</div>
          </div>
        </div>
      </div>
      <div class="text-center pt-2">
        <button type="button" id="copy-to-clipboard" class="btn btn-outline-secondary" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-placement="top" title="Copy to clipboard" onClick="copyToClipboard()">
          <svg class="bi bi-clipboard" width="20" height="20" type="button" fill="currentColor">
            <use xlink:href="../static/assets/node_modules/bootstrap-icons/bootstrap-icons.svg#clipboard"/>
          </svg>
          Copy
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock content %}