<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <!-- OpenGraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://url2ref.onrender.com/">
    <meta property="og:title" content="url2ref">
    <meta property="og:description" content="Application for creating a reference given a web address">
    <meta property="og:image" content="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Application for creating a reference given a web address">
    <meta name="keywords" content="reference generator, url2ref">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>url2ref</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Container -->
    <main class="flex-shrink-0">
      <div class="container">
        <div class="main-search">
          <div class="logo-container d-flex justify-content-center">
            <div class="logo d-flex flex-row justify-content-center">
              <svg class="logo-part" viewBox="0 0 35 40">
                <text class="logo-url" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">url</text>
              </svg>
              <svg class="logo-part" viewBox="0 0 20 40">
                <rect class="logo-box" x="0" y="14%" dominant-baseline="middle" width="20" height="25"></rect>
                <text class="logo-2" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">2</text>
              </svg>
              <svg class="logo-part" viewBox="0 0 35 40">
                <text class="logo-ref" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">ref</text>
              </svg>
            </div>
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
      <div class="container d-flex justify-content-center">
        <span class="text-muted">A <a href="https://github.com/BX326/url2ref">project</a> by BX326 (2023)</span>
      </div>
    </footer>

    <!-- https://flask-assets.readthedocs.io/en/latest/#using-the-bundles -->
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>